*{
    margin: 0px;
    padding: 0px;
}
body{
    box-sizing: border-box;
}
#navigation a{
    text-decoration: none;
    color: black;
    margin: 30px 20px;
    transition: all;
    transition-duration: 0.5s;
    letter-spacing: 1.5px;
}
#navigation a:hover{
    color: red;
    text-shadow: 0px 0px 10px black;
}
nav{
    display: flex;
    flex-direction: row;
}
#navigation{
    display: flex;
    justify-content: center;
    margin-left: 10%;
}
#renav{
    display: none;
    justify-content: center;
    padding-left: 10%;
}
#renav a{
    text-decoration: none;
    color: white;
    margin: 30px 20px;
    transition: all;
    transition-duration: 0.5s;
    letter-spacing: 1.5px;
    border-bottom: 2px solid white;
}
#logo{
    text-align: center;
    margin-top: 25px; 
    margin-left: 2%;  
    font-size: 30px;
    font-weight: 700;
}
#menu{
    display: none;
}
@media screen and (max-width: 600px) {
    nav{
        flex-direction: column;
    }
    #navigation{
        display: none;
    }
    #renav{
        display: none;
        flex-direction: column;
        background-color: rgb(37, 37, 37);
    }
    #renav a{
        margin: 10px 20px;
    }
    #menu{
        display: block;
        text-align: center;
        padding: 10px 0px;
        margin: 10px 0px;
        background-color: black;
        color: white;
    }
}